<li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>

 <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">YellowTail Tech</h3>
                        <div class="subheading mb-3">AWS/DevOps Programme</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">July - 2020</span></div>
                </div>
            </div>                       